# Copier ce fichier en terraform.tfvars et remplir les valeurs
# NE JAMAIS COMMITER terraform.tfvars (il contient des secrets)

render_api_key  = "rnd_XXXXXXXXXXXXXXXXXXXXXXXXXX"
neon_api_key    = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
repo_url        = "https://github.com/Sam-rst/YamMaster"
allowed_origins = ""
